.nav-item-color{
    color: #fc9739 !important;
}

.nav-container{
  background: white;
  height: 10rem;
}

.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }
  
.nav-links {
    display: flex;
    gap: 20px;
}
  
.nav-link {
    color: #999;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}
  
.nav-link:hover {
    color: #555;
}
  
.logo-container {
    display: flex;
    align-items: center;
}
  
.city-logo {
  width: 11rem;
  height: 10rem;
  margin-right: 10px;
  margin-top: 1rem;

}

  
.brand-text {
    font-size: 18px;
    color: #333;
}
  
.brand-city {
    color: #00114b;
    font-weight: bold;
}
  
.brand-property {
    color: #666;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: -80px; */
  }

  .nav-container{
    height: 15rem;
  }

  .logo-container {
    order: -1; /* Mover el logo a la parte superior */
    margin-bottom: 10px; /* Espacio entre el logo y los enlaces */
  }

  .nav-links {
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: -2rem;
  }

  .city-logo {
    width: 11rem;
    height: 10rem;
    margin-top: 0px;
  }
}

@media (max-width: 425px) {
    .nav-links {
        flex-direction: row;
      }
      .nav-link{
        font-size: 0.8rem;
      }


}

@media (max-width: 375px) {
  .nav-links {
      flex-direction: row;
    }
    .nav-link{
      font-size: 0.8rem;
    }


}

@media (max-width: 320px) {
  .nav-links {
      flex-direction: row;
    }
    .nav-link{
      font-size: 0.7rem;
    }


}
