/* Estilos generales */
.services-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
  }

  .container2{
    display: flex;
    justify-content: center;
  }
  
  /* Estilos para la sección de texto */
  .text-section {
    width: 100%;
    max-width: 600px;
    text-align: left;
    margin-bottom: 50px;
  }
  
  .text-section h4 {
    color: #f36c21;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .services{
    font-size: 16px !important;
  }
  
  .text-section h1 {
    color: #00114b;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .quote-button {
    background: linear-gradient(90deg, #f36c21 0%, #f3b021 100%);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
   
  .quote-button:hover {
    background: linear-gradient(90deg, #f36c21 100%, #f3b021 0%);
  }
  
  /* Sección de la imagen */
  .image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

.imgservices{
  height: 25rem;
}
  
  .image-section img {
    width: 100%;
    max-width: 400px;
  }
  
  /* Información de servicios */
  .services-info {
    text-align: center;
    max-width: 800px;
  }
  
  .services-info h5 {
    color: #f36c21;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .services-info h2 {
    color: #00114b;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .services-info p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* Media Queries para responsive design */
  
  /* Para pantallas medianas (tablets) */
  @media screen and (max-width: 768px) {
    .services-container {
      padding: 30px;
      flex-direction: column;
    }
  
    .text-section h1 {
      font-size: 28px;
    }
  
    .services-info h2 {
      font-size: 28px;
    }
  
    .image-section img {
      max-width: 300px;
    }

    .containerimgservicios{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  
  /* Para pantallas pequeñas (móviles) */
  @media screen and (max-width: 480px) {
    .text-section h1 {
      font-size: 24px;
    }
  
    .services-info h2 {
      font-size: 24px;
    }
  
    .quote-button {
      padding: 12px 20px;
      font-size: 12px;
    }
  
    .image-section img {
      max-width: 250px;
    }
  }

  /* section 3 */

  .services-container3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px; /* Espacio entre los elementos */
  }
  
  .service-section3 {
    width: 22%; /* El ancho en pantallas grandes */
    min-width: 250px; /* Mínimo ancho para evitar que se vuelva demasiado estrecho */
    margin-bottom: 20px;
  }
  
  .service-icon3 {
    font-size: 24px;
    margin-right: 8px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    padding: 5px 0;
  }
  
  .get-started3 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Media Queries para pantallas más pequeñas */
  @media (max-width: 1024px) {
    .service-section3 {
      width: 45%; /* Aumenta el ancho en pantallas medianas */
    }
  }
  
  @media (max-width: 768px) {
    .service-section3 {
      width: 100%; /* Ocupa el 100% del ancho en pantallas pequeñas */
    }
  
    button {
      width: 100%; /* Botón ocupa todo el ancho en pantallas pequeñas */
    }
  }
  
  @media screen and (max-width: 1024px) {
    .services-container{
flex-direction: column;
    }
  }
  
  .containerservicesslider{
    width: 100%;
  }





  .containerimgservicios {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .image-slider {
    width: 100%;
    max-width: 600px; /* Ancho máximo del slider */
    height: 300px; /* Ajusta la altura del slider según tus necesidades */
  }
  
  .imgservices {
    width: 100%;
    height: 100%; /* Se adapta al contenedor del slider */
    /*object-fit: cover;*/ /* Mantiene proporción recortando si es necesario */
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    .image-slider {
      max-width: 90%;
      height: 250px; /* Ajuste de altura en pantallas medianas */
    }
  }
  
  @media screen and (max-width: 480px) {
    .image-slider {
      max-width: 100%;
      height: 200px; /* Ajuste de altura en pantallas pequeñas */
    }
  }

  